html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
}

.sidebar {
  z-index: 1;
  position: absolute;
  width: 200px;
  float: left;
  font-family: sans-serif;
  background-color: white;
  margin-left: 80px;
  margin-top: 80px;
  border-radius: 5px;
}

.logo {
  width: 100%;
  height: auto;
}

h4 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}

input {
  margin-left: 10px;
}
