<!DOCTYPE html>
<html>
  <head>
    <title>Trailways</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script type="text/javascript" src="js/knockout-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class='mobile'>
      <div class='mobile-header shadow'>
        <button class='mobile-nav-button'> 
          <img src="{{url_for('static', filename='img/ic_menu_black_24px.svg')}}">
        </button>
        <input class='sidebar-control' id='search-input-mobile' placeholder="Search for a segment" type="search" data-bind="value:searchInput, valueUpdate:'keyup'"></input>
      </div>
      <div class='mobile-slideout shadow'>
        <ul id='time-period-list' data-bind='foreach:timePeriodList'>
          <label>
            <li class='time-period-li'>
              <span class='mobile-time-period-text' data-bind='text:name'></span>
              <input type="radio" name='time-period-radio' data-bind="attr:{value:value}, checked:$root.selectedTimePeriod, click:$root.changeTimePeriod"></input>
            </li>
          </label>
        </ul>
        <div class='mobile-logo-box'>
          <img class='logo' src="{{url_for('static', filename='img/logo.png')}}">
        </div>
      </div>
    </div>
    <div class='sidebar shadow'>
      <img class='logo' src="{{url_for('static', filename='img/logo.png')}}"></img>
      <h4>REDWOOD REGIONAL PARK</h4>
      <div class='control-box'>
        <select class='sidebar-control' id='time-dropdown' data-bind="options:timePeriodList, optionsValue:'value', optionsText:'name', value:selectedTimePeriod, event:{change:changeTimePeriod}"></select>
        <input class='sidebar-control' id='search-input-desktop' placeholder="SEARCH SEGMENTS" type="search" data-bind="value:searchInput, valueUpdate:'keyup'"></input>
        <ul id="segment-list" data-bind="foreach:filterSegments">
          <a href="#" data-bind="click:$parent.changeSelected"> 
            <li class='segment-li' data-bind="text:name"></li>
          </a>
        </ul>
        <div class='sidebar-footer'>
          <img id='strava' src="{{url_for('static', filename='img/api_logo_pwrdBy_strava_horiz_gray.svg')}}">
        </div>
      </div>
    </div>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkaVmPwWBYInijSeNjO8OOmskds9nEDzc&libraries=geometry&callback=initializeMap" async defer></script>
    <script type="text/javascript" src="js/trailTraffic.js"></script>
  </body>
</html>
